<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

  <!--
    ============================================================
    FIDELITY INTERNAL ARTIFACTORY CONFIGURATION
    ============================================================
    Replace the <url> below with the actual Fidelity Artifactory URL.
    Example: https://artifactory.fmr.com/artifactory/maven-central
    ============================================================
  -->

  <mirrors>
    <mirror>
      <id>fidelity-artifactory</id>
      <name>Fidelity Internal Artifactory</name>
      <mirrorOf>*</mirrorOf>
      <!-- TODO: Replace this URL with the actual Fidelity Artifactory URL -->
      <url>https://artifactory.fmr.com/artifactory/maven-central</url>
    </mirror>
  </mirrors>


</settings>
